<form [formGroup]="livro" (ngSubmit)="enviarDados()">

  <div>
    <label for="Id">Id: </label>
    <input type="number" formControlName="id">
  </div>

  <div>
    <label for="nome">Nome: </label>
    <input type="text" formControlName="nome">
  </div>

  <div>
    <label for="paginas">Páginas: </label>
    <input type="number" formControlName="paginas">
  </div>

  <div>
    <label for="preco">Preço: </label>
    <input type="number" formControlName="preco">
  </div>

  <div>
    <label for="codigo">Código: </label>
    <input type="codigo" formControlName="codigo">
  </div>

  <label for="nome"> Categoria: </label>
  <select name="select" formControlName="categoria">
    <option value="RPG">RPG</option>
    <option value="Informatica">Informática</option>
    <option value="Direito">Direito</option>
    <option value="Gastronomia">Gastronomia</option>

  </select>
<!--
  <div>
    <label for="categoria">Nome categoria: </label>
    <input type="text" formControlName="categoria">
  </div>
-->


  <div>
    <button>Enviar dados</button>
  </div>

</form>
