.casa {
  text-align: center;
}
a {
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: red;
  display: inline;
  justify-content: space-evenly;
  margin: 30px;
}
a:hover{
  color: cadetblue;
}
